@model TheGym_2.Models.Trainer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specialization.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusTrainer.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTrainer.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartWorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartWorkDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndtWorkDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndtWorkDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
